.wrap{width:1200px;margin:0 auto;}

p{line-height:1.5em;}

.is_block{display:block;}
.first{padding-left:20px;}
.second{padding-left:40px;}

.ex_style{width:1140px;padding:30px;background:#e6f7fd;margin-bottom:30px;}
.ex_style > p{margin:0;line-height:1.8em;}
.ex_style span{color:#00a4ed;}
.ex_btn{display:inline-block;width:118px;height:38px;margin-bottom:30px;border:1px solid #006098;color:#006098;text-decoration:none;text-align:center;line-height:38px;border-radius:10px;}

